<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<style th:replace="inc/bootstrap :: inc"></style>
	<style>
		#header {
			display: block;
			position: running(header);
		}
		#footer {
			display: block;
			position: running(footer);
		}

		#content {
			page-break-after: always;
		}

		.pagenumber:before {
			content: counter(page);
		}

		.pagecount:before {
			content: counter(pages);
		}
 @page {
        header: html_MyCustomHeader; /* display <htmlpageheader name="MyCustomHeader"> on all pages */
        footer: html_MyCustomFooter; /* display <htmlpagefooter name="MyCustomFooter"> on all pages */
    }
	/*	@page {
			@top-center { content: element(header) }
		}

		@page {
			@bottom-center { content: element(footer) }
		}*/

		@page {
			margin-bottom: 5cm;
			margin-left: 3.5cm;
			margin-right: 0.5cm;
		}
	</style>
  <htmlpageheader name="MyCustomHeader">
    <table style="border-bottom: 1px solid #000000; vertical-align: bottom; font-family: serif; font-size: 9pt; color: #000088;" width="100%">
        <tbody>
            <tr>
                <td width="50%">Title</td>
                <td style="text-align: right; font-weight: bold;" width="50%">Logo</td>
            </tr>
        </tbody>
    </table>
</htmlpageheader>
<htmlpagefooter name="MyCustomFooter">
    <table style="vertical-align: bottom; font-family: serif; font-size: 8pt; color: #000000; font-weight: bold; font-style: italic;" width="100%">
        <tbody>
            <tr>
                <td width="33%"><span style="font-weight: bold; font-style: italic;">Copyright 2016</span></td>
                <td style="font-weight: bold; font-style: italic;" align="center" width="33%">{PAGENO}/{nbpg}</td>
                <td style="text-align: right;" width="33%">My document</td>
            </tr>
        </tbody>
    </table>
</htmlpagefooter>
</head>
<body>
	<!--<div id="header">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/logo1stpage.png"
          width="120"
          height="54"
          alt=""
        />
	</div>
	<div id="footer">
		 <strong>{{document.familyname}}&#xa0;&#xa0;{{document.firstname}}</strong> <br />
		Page <span class="pagenumber"></span> of <span class="pagecount"></span>
	</div>-->
	<div id="content">
      <p class="Title" style="text-align:center">
        Dossier de compétences
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong>Nom:</strong><strong>&#xa0;&#xa0;&#xa0;&#xa0; </strong><span
          style="width:17.43pt; font-size:14pt; display:inline-block"
        >&#xa0;</span><span
          style="font-size:14pt"
        >{{document.familyname}}</span>
      </p>
      <p style="font-size:15pt">
        <strong>Prénom: </strong><span
          style="width:12.44pt; font-size:14pt; display:inline-block"
        >&#xa0;</span><span
          style="font-size:14pt"
        >{{document.firstname}}</span><span
          style="font-size:14pt"
        >&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
      </p>
      <p style="font-size:15pt">
        <strong>Email:</strong><strong>&#xa0;&#xa0; </strong><span
          style="width:17.42pt; font-size:14pt; display:inline-block"
        >&#xa0;</span><span style="font-size:14pt">{{document.email}}</span>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:18pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/comp.png"
          width="35"
          height="35"
          alt=""
        /><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><strong><u><span style="color:#008cba">Compétences
              fonctionnelles</span></u></strong>
      </p>
      <p style="font-size:11pt">
        <br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; DOT.NET, C#, PHP, AJAX, JQUERY,
        Web Service, Flash, HTML, XML,<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; DOT.NET, C#, PHP, AJAX, JQUERY,
        Web Service, Flash, HTML, XML,<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; UML (RUP), Design Patterns,
        Crystal Reports, MS-Reports<br /><span
          style="font-size:10pt"
        >&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:18pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/comp.png"
          width="35"
          height="35"
          alt=""
        /><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><strong><u><span style="color:#008cba">Compétences
              techniques</span></u></strong>
      </p>
      <p style="font-size:11pt">
        <br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; UML (RUP), Design Patterns,
        Crystal Reports, MS-Reports<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; DOT.NET, C#, PHP, AJAX, JQUERY,
        Web Service, Flash, HTML, XML,<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; UML (RUP), Design Patterns,
        Crystal Reports, MS-Reports<br /><span
          style="font-size:10pt"
        >&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:18pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/cert.png"
          width="35"
          height="35"
          alt=""
        /><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><strong><u><span style="color:#008cba">Diplômes /
              Certifications</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:12pt">
        <strong>1994: </strong><span
          style="width:5pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span style="font-size:11pt">Diplôme en Traitement Textile
        </span><br /><strong>2007: </strong><span
          style="width:5pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span style="font-size:11pt">Développeur Informatique</span><br
        /><strong>2010: </strong><span
          style="width:5pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span style="font-size:11pt">CDI</span><br /><strong>2012:
        </strong><span
          style="width:5pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span
          style="width:36pt; font-size:11pt; display:inline-block"
        >&#xa0;</span><span style="font-size:11pt">M2GPI</span><br /><span
          style="font-size:10pt"
        >&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">Langues</span></u></strong>
      </p>
      <p style="font-size:11pt">
        <br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet3.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; Français<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet3.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; Anglais<br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet3.png"
          width="8"
          height="8"
          alt=""
        />&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; Tamoul<br /><span
          style="font-size:10pt"
        >&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="page-break-before:always">
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/exp.png"
          width="50"
          height="50"
          alt=""
        /><strong><span
            style="color:#008cba"
          >&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
          </span></strong><strong><span style="color:#008cba">Expériences
            professionnelles</span></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:13pt">
        <strong><u><span style="color:#008cba">Expérience 1</span></u></strong><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2012-10-15</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2014-12-15</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span style="font-size:10pt">
          Ingénieur – Dot Net</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >(Institutions européennes) –Strasbourg ECHR </span><br /><br /><strong
        ><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >Conception et développement d’applications en utilisant la méthodologie
          AGILE.
        </span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        >
          C# 3.5 et 4.0, SQL Server 2008, 2012, Visual studio 2010, 2012, 2013
          SilverLight-MVVM, SQL Reporting Services, Sharepoint 2007,
          méthodologie AGILE</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Compétences/ Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion de projets utilisant les
          technologies Silverlight MVVM web et WPF.</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Création des reports complexes en
          utilisant SQL Server Reporting Services.</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Court Server Management :
          Développement du logiciel avec la technologie Silverlight</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Court Personnel System (Gestion des
          ressources humain), Stock Management</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Développement des webpart pour les
          sites SharePoint existant.</span><br /><br /><strong><u><span
              style="color:#008cba"
            >Expérience 2</span></u></strong><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2010-12-09</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2012-12-06</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span
          style="font-size:10pt"
        >Ingénieur - Développeur</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >LOGICA – Strasbourg – Stage Master 2</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >Gestion de projets et développement en utilisant la méthodologie Cycle
          V.</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        >
          C# 3.0 et 3.5, SQL Server 2008, méthodologie Cycle V et AGILE.</span><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Compétences/ Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion de projets utilisant les
          technologies Web, de la définition des besoins à la
        </span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Rédaction des spécifications
          fonctionnelles détaillées à partir du cahier des charges</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Conception de l’architecture
          logicielle de différents modules</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Développement des webpart pour les
          sites SharePoint en utilisant SAP database</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Redéveloppement d’une application de
          gestion d’élections cantonales destinée au group</span><br /><br
        /><strong><u><span style="color:#008cba">Expérience 3</span></u></strong><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2009-02-03</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2010-02-07</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span
          style="font-size:10pt"
        >Ingénieur - Développeur </span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >CRM – Mulhouse </span><span
          style="width:33.27pt; font-size:10pt; display:inline-block"
        >&#xa0;</span><span style="font-size:10pt">Stage M1</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >Animateur de l’équipe locale et ingénieur développement.</span><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        > Dot.Net (C#/VB), Java, SQL et MS Access.</span><br /><br /><strong><u
          ><span style="font-size:11pt; color:#008cba">Compétences/ Tâches</span></u></strong><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Rédaction d’analyses fonctionnelles</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Définition des besoins et des
          priorités</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion d’une équipe dédiée à la
          maintenance journalière et au support clients (produ</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Mise en œuvre de la démarche qualité
          : conception de tests et programmation de correc</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion d’une équipe Offshore (10 –
          15 personnes basées à Hyderabad en Inde (Société
        </span><br /><br /><strong><u><span style="color:#008cba">Expérience 4</span></u></strong><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2007-03-05</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2008-03-05</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span
          style="font-size:10pt"
        >Ingénieur - Développeur (travail en autonomie)</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >ACIA Metz</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >
          Analyse du besoin MOA, rédaction de cahiers des charges et réalisé
          deux sites internet.</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        >c#, dotnet, PostgreSQL, Delphi, HTML, Dev Express</span><br /><br
        /><strong><u><span style="font-size:11pt; color:#008cba">Compétences/
              Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Réalisation d’un site internet
          permettant aux clients d’effectuer des réimpressions d</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Le client effectue la commande sur
          le site qui est mis en relation avec l’application</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">. Mise en place d’une démarche «
          satisfaction clients ».</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Maintenance et modification de
          logiciels.</span><br /><br /><strong><u><span
              style="color:#008cba"
            >Expérience 5</span></u></strong><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2006-07-12</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2007-12-04</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span
          style="font-size:10pt"
        >Ingénieur - Développeur (travail en autonomie)</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >Rhinoo-France Mulhouse</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >
          Gestion de projets et développement en utilisant l’UML (trois sites).</span><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        > Dot .Net (C#), MySQL/SQL/ UML</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Compétences/ Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion de projets web de la
          définition de besoins à la livraison des produits.</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">L’analyse, la conception, la
          programmation ainsi que la publication d’un site de Voya</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion des clients et leur
          astrologie quotidienne, hebdomadaire, mensuelle et annuel</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Gestion de Paiement par PayPal.</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">L’analyse et la conception se feront
          par la méthode de modélisation UML.</span><br /><br /><strong><u><span
              style="color:#008cba"
            >Expérience 6</span></u></strong><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span style="font-size:10pt">De:
          2015-06-04</span><span style="font-size:10pt">&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:10pt">A: 2024-06-04</span><br /><br
        /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Poste</span></u></strong><br /><span style="font-size:10pt">
          Ingénieur – Dot Net</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Entreprise</span></u></strong><br /><span
          style="font-size:10pt"
        >Crédit Mutuel – Strasbourg </span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >Conception et développement d’applications, utilisation méthodologie
          cycle en V</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        >.Net 4+, C#, Dev booster version 4, Silverlight, Oracle (Hibernate
          mapping), Visual Studio 2012, Oracle SQL Developer, RTC</span><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Compétences/ Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Spécifications fonctionnelles
          suivant la demande des utilisateurs et clients</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Spécification Techniques</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Maintenance et évolutions des
          applications existantes</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Tests et mise en production</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Support client</span><br /><br
        /><span style="font-size:10pt">&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/exp.png"
          width="45"
          height="45"
          alt=""
        /><strong><span
            style="color:#008cba"
          >&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
          </span></strong><strong><span style="color:#008cba">Expériences
            personnelles</span></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:13pt">
        <strong><u><span style="color:#008cba">Expérience 1</span></u></strong><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Période</span></u></strong><br /><span
          style="font-size:10pt"
        >04-06-2015 to 04-06-2024</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Titre</span></u></strong><br /><span style="font-size:10pt">Crédit
          Mutuel – Strasbourg</span><span style="font-size:10pt">&#xa0;
        </span><span style="font-size:10pt">Fonction occupée : Ingénieur – Dot
          Net</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Contexte</span></u></strong><br /><br /><span
          style="font-size:10pt"
        >Conception et développement d’applications, utilisation méthodologie
          cycle en V</span><br /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Environnement technique</span></u></strong><br /><span
          style="font-size:10pt"
        >
          .Net 4+, C#, Dev booster version 4, Silverlight, Oracle (Hibernate
          mapping), Visual Studio 2012, Oracle SQL Developer, RTC</span><br
        /><br /><strong><u><span
              style="font-size:11pt; color:#008cba"
            >Compétences/ Tâches</span></u></strong><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Spécifications fonctionnelles
          suivant la demande des utilisateurs et clients</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Spécification Techniques </span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Maintenance et évolutions des
          applications existantes</span><br /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Tests et mise en production</span><br
        /><img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bullet1.png"
          width="8"
          height="8"
          alt=""
        /><span style="font-size:11pt">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
        </span><span style="font-size:11pt">Support client</span><br /><br
        /><span style="font-size:10pt">&#xa0;</span>
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">Environnement</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        Création des fonctionnalités dans « Court Management Information System
        » sous forme de dll (l'impression du code-barres, WECL et CMIS ADMIN) en
        utilisant de Framework plugin. Etude de faisabilité et de robustesse
        Correction des bugs Création et manipulation des web services
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">Languages</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        DOT.NET, C#, PHP, AJAX, JQUERY, Web Service, Flash, HTML, XML,
        JavaScript, CSS
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">SGBD</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        MS-Access, MySQL, SQL Server (2000, 2005, 2008), PostgreSQL ,Méthode de
        modélisation Merise
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">Outils</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        &#xa0;C# (Visual studio 2003, 2005, 2008, 2010) Java : Notions
        (connaissances C# transposables)
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <strong><u><span style="color:#008cba">Systèmes</span></u></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        XP, Vista, Windows 7
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:15pt">
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/bref.png"
          width="35"
          height="35"
          alt=""
        /><strong><span
            style="color:#008cba"
          >&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
          </span></strong><strong><span style="color:#008cba">En bref</span></strong>
      </p>
      <p>
        &#xa0;
      </p>
      <p style="font-size:11pt">
        Création des fonctionnalités dans « Court Management Information System
        » sous forme de dll (l'impression du code-barres, WECL et CMIS ADMIN) en
        utilisant de Framework plugin. Etude de faisabilité et de robustesse
        Correction des bugs Création et manipulation des web services
      </p>
      <p>
        <img
          src="https://raw.githubusercontent.com/proxydc/Templates/main/HLine.png"
          width="780"
          height="50"
          alt=""
        />
      </p>      

	</div>
</body>
</html>